@import url("https://fonts.googleapis.com/css2?family=Asul&family=Open+Sans&display=swap");

:root {
  --primary-color: rgba(0, 0, 0, 0);
  --secondary-color: rgba(229, 148, 0, 1);
  --overlay-color: #160d02;
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asul", sans-serif;
  font-size: 60px;
}

a {
  text-decoration: none;
  font-family: "Asul", sans-serif;
}

/* utility classes */
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.bg-dark {
  background-color: #160d02;
  color: #fff;
}

.btn {
  display: inline-block;
  font-size: 36px;
  padding: 0.5rem 2rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-light {
  color: #000;
  background: #fff;
  border-color: #000;
}

.btn-light:hover {
  color: #fff;
  background: #000;
}

.btn-dark {
  color: #fff;
  background: #160d02;
  border-color: #fff;
}

.btn-dark:hover {
  color: #160d02;
  background: #fff;
}

/* hero */
#hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  height: 100vh;
}

/* hero: navbar */
#hero #navbar {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  padding: 1.5rem 3rem;
}

#hero #navbar .logo-container a img {
  width: 160px;
}

#hero #navbar ul#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#hero #navbar ul#main-nav li a {
  margin: 0 1rem;
  color: #ffffff;
}

#hero #navbar ul#main-nav li a:hover {
  color: var(--secondary-color);
}

#hero #navbar .menu-wrap {
  display: none;
}

/* mission */
#mission {
  padding-top: 4rem;
}

#mission .container p {
  padding-top: 1.5rem;
}

#mission .container a.btn {
  margin-top: 2rem;
}

/* spotlights */
#spotlights .spotlight {
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem 0 3rem;
}

#spotlights .spotlight .spotlight-info {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#spotlights .spotlight .spotlight-image {
  width: 45%;
}

#spotlights .spotlight .spotlight-image img {
  width: 100%;
}

#spotlights .spotlight .spotlight-info .btn-container a.btn {
  margin-top: 2rem;
}

/* beer finder */
#beer-finder {
  padding: 5rem 0;
  margin-top: 4rem;
}

#beer-finder .container a.btn {
  margin-top: 2rem;
}

/* news letter */
#news-letter {
  padding: 5rem 0;
}

#news-letter .container form {
  width: 65%;
  margin: auto;
  margin-top: 2rem;
}

#news-letter .container form input[type="email"] {
  border: 2px solid #000;
  padding: 1rem;
  width: 100%;
  display: block;
}

#news-letter .container form input[type="submit"] {
  margin-top: 2rem;
}

/* footer */
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2.5rem;
}

/* footer: navbar */
#footer #navbar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#footer #navbar-footer .logo-container a img {
  max-width: 312px;
}

#footer #navbar-footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 2rem;
}

#footer #navbar-footer ul li a {
  margin: 0 auto;
  color: #ffffff;
  font-size: 60px;
}

#footer #navbar-footer ul li a:hover {
  color: var(--secondary-color);
}

/* footer: weather */
.weather {
  text-align: center;
  max-width: 25%;
}

.weather #drinkingConditions {
  text-align: center;
}

.weather #drinkingConditions div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.weather #drinkingConditions h3 {
  font-size: 36px;
}

.weather #drinkingConditions span {
  font-size: 20px;
}
